[submodule "themes/PaperMod"]
	path = themes/PaperMod
 	url = git@github.com:adityatelange/hugo-PaperMod.git
	# url = git@github.com:Nozom1466/nozom1466.github.io.git
	# branch = master
[submodule "themes/hugo-theme-next"]
	path = themes/hugo-theme-next
	url = https://github.com/hugo-next/hugo-theme-next.git
[submodule "themes/hugo-theme-gallery"]
	path = themes/hugo-theme-gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
