:root {
    --main-width: 1024px;
}

.post-content dl,
.post-content p {
    margin-bottom: var(--content-gap);
    margin-top: auto;
}

.post-content ol,
.post-content figure,
.post-content ul {
    margin-top: auto;
}